#generale{
    width: auto;
}

header {
background-image: url(../img/pattern.png);
    height: 100px;
}
.logo{
    width: 150px;
}

.sottotitolo{
    color: grey;
}

#evidenziato{
    background-color: yellow;
}

.col {
    background-color: lightblue;
}

.intestazione-tabella{
    background-color: royalblue;
}

#interesse{
    color: grey;
    font-weight: bold;
}